.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
  }
  
  .contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .form-group {
    margin-top: 1rem;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff !important;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    right: -20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .message-status{
    color: darkgreen;
    position: relative;
    right: -150px;
    top: -30px;
  }
  